@font-face {
    font-family: 'Ivy Mode';
    src:url('./fonts/IvyMode-Light.eot'),
        url('./fonts/IvyMode-Light.woff2') format('woff2'),
        url('./fonts/IvyMode-Light.woff') format('woff'),
        url('./fonts/IvyMode-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: IvyMode,sans-serif;
    background-color: #FBF6F4;
}
h1, h2 {
    font-weight: 10;
    font-size: 2rem;
    line-height: 1em;
    font-style:normal;
}

p {
    width: clamp(45ch, 50%, 75ch);
    letter-spacing: 0em;
    font-style: normal;
    letter-spacing: .09em;

}
em {
  font-style: italic;  
}
.container {
    display: flex;
    flex-direction: column;
}

    /* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    gap: 5%;
}
.small-img {
    width: 14rem;
    height: 14rem;
    margin-top: 35%;
}
.paragraph  {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.content {
    margin-top: 15%;
}
    /* about section */
.about {
    display: flex;
    height: 100vh;
    margin-top: 5%;
}
.creative-values {
    transform:rotate(90deg);
} 
    /* description section */
.description {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    /* inspiration section */
.inspiration {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.inspired {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: #F6F0E9;
}
.names {
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.name {
    width: 100%;
    padding: 30%;
}

        /* clients section */
.clients {
    display: flex;
    justify-content: center;
    align-items: items;
    flex-direction: row;
    height: 100vh;
}
.client {
    display: flex;
    justify-content:center;
    align-items: center;
}
.clientele {
    width: auto;
    padding: 15%;
}

        /* reviews section */
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
      /* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


