@font-face {
    font-family: 'Ivy Mode';
    src:url('./fonts/IvyMode-Light.eot'),
        url('./fonts/IvyMode-Light.woff2') format('woff2'),
        url('./fonts/IvyMode-Light.woff') format('woff'),
        url('./fonts/IvyMode-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: IvyMode, monospace;
    background-color: #FBF6F4;
}
h1, h2 {
    font-weight: 2;
    font-size: 2rem;
    line-height: 1em;
    font-style:normal;
}
h5 {
    font-size: 1rem;
    line-height: 1em;
}
p {
    width: clamp(45ch, 50%, 75ch);
    font-size: 0.9rem;
    letter-spacing: 0em;
    font-style: normal;
    letter-spacing: .09em;

}
em {
  font-style: italic;  
}
.container {
    display: flex;
    flex-direction: column;
}

    /* hero section */
.hero {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    gap: 5%;
}

.small-img {
    width: 20rem;
    height: 15rem;
    margin-top: 35%;
}
.paragraph  {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.content {
    margin-top: 3%;
}
    /* about section */
.about {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 10%;
}
.creative-values {
    transform:translate(-20em)rotate(90deg);
} 
.grid {
    display: flex;
    flex-direction: row;
    padding: 2%;
}
.girls {
    display: flex;
    flex-direction: column;
    width:25.95rem ;
    height: 20rem;
}
    /* description section */
.description {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2%;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /* inspiration section */
.inspiration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    padding: 5%;
}
.inspired {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F0E9;
}
.insp-photo {
    padding: 5%;
}
.names {
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.name {
    width: 100%;
    padding: 30%;
}

        /* clients section */
.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5%;
}
.client {
    display: flex;
    justify-content:center;
    align-items: center;
}
.clientele {
    width: auto;
    padding: 15%;
}

      /* footer section */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


